<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Vehicle</title>
</head>
<body>
    <h1>Add New Vehicle</h1>
    <form action="/vehicles" method="POST">
        <div>
            <label for="name">Vehicle Name</label>
            <input type="text" id="name" name="vehicle[name]">
        </div>
        <div>
            <label for="registration">Vehicle Registration</label>
            <input type="text" id="registration" name="vehicle[registration]">
        </div>
        <button>Add vehicle</button>
    </form>
    <a href="/vehicles">Back to Vehicles</a>
</body>
</html>