<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 <h1>Fleet Managment</h1>
 <div><a href="/vehicles">View Vehicles</a> </div>
 <div><a href="/vehicles/new">Add Vehicle</a></div>
 <!--<div><a href="/jobCardAllVehicles">Job Card</a></div> -->
 <div><a href="/jobCardPending">Pending Job Card</a></div>
 <div><a href="/jobCardIssued">Issued Job Card</a></div>
 <div><a href="/nonAttendedDefectMemo">Non Attended Defect Memo</a></div>
 <div><a href="/AttendedDefectMemo">Attended Defect Memo</a></div>
 <!-- <a href=" ">Fuel Log</a> -->
</body>
</html>