<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <form>
        <h3>New User? Register Here</h3>
        <input type="button" value="Sign Up" onclick="window.location.href='./register'"/>
        <h3>Already have an account? Login Here</h3>
        <input type="button" value="Login" onclick="window.location.href='./login'"/>
    </form>
</body>
</html> -->


<!DOCTYPE HTML>
<html>
<head>
	<meta charset = "utf-8">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="../css/homepagedesign.css" media="all" />
</head>

<body id="ab0">

	<div class="container">
	  <a href="/users/register"><button class="btn1">SIGN UP</button></a>
	  <a href="/users/login"><button class="btn1">LOGIN</button></a>
	</div>
	
	<center><div class="content"> <p id="name"> CENTRAL RESERVE POLICE FORCE <br /><div id="college">Central Training College<br />
	(Telecom & Information Technology) </p> <p id="a">Vehicle Fleet Management System</p></center></div>
		
</body>
</html>