<%- include("header") -%>

<div>
    <h1>Vehicle Entry</h1>
</div>

<div>
    <form action="/" method="post">
        <input type="text" name="nameVehicle" placeholder="Name of Vehicle" autocomplete="off" required>
        <input type="text" name="regNO" placeholder="Registration Number" autocomplete="off" required>

        <button type="submit">Add Vehicle to the List</button>
    </form>

</div>





<%- include("footer") -%>