<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobCard</title>
</head>
<body>
    <h1>JOBCARD</h1>
     <form action="/newJobCard/<%=vehicle._id %>" method="POST">
         <div>
            <label>Enter Part Name :</label>
            <input type="text" name="newParts">
          
            <p>Vehicle Registration No.  <%= vehicle.registration %> </p>
           
            <label>Enter Date :</label>
            <input type="date" name="dateOfJobCard">
         </div>
         <button type="submit">Add</button>
     </form>
</body>
</html>